@font-face {
    font-family: 'Jamsil';
    src: url('../fonts/TheJamsil2Light.woff2') format('woff2'),
        url('../fonts/TheJamsil2Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jamsil';
    src: url('../fonts/TheJamsil1Thin.woff2') format('woff2'),
        url('../fonts/TheJamsil1Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jamsil';
    src: url('../fonts/TheJamsil3Regular.woff2') format('woff2'),
        url('../fonts/TheJamsil3Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jamsil';
    src: url('../fonts/TheJamsil4Medium.woff2') format('woff2'),
        url('../fonts/TheJamsil4Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jamsil';
    src: url('../fonts/TheJamsil5Bold.woff2') format('woff2'),
        url('../fonts/TheJamsil5Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jamsil';
    src: url('../fonts/TheJamsil6ExtraBold.woff2') format('woff2'),
        url('../fonts/TheJamsil6ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ACCheart';
    src: url('../fonts/ACCchildrenheart.woff2') format('woff2'),
        url('../fonts/ACCchildrenheart.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ACCfall';
    src: url('../fonts/ACCchildrenfall.woff2') format('woff2'),
        url('../fonts/ACCchildrenfall.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ACCsky';
    src: url('../fonts/ACCchildrensky.woff2') format('woff2'),
        url('../fonts/ACCchildrensky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}