#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    background-color: var(--white);
    box-shadow: 0 0 10px var(--white200);

    h1 {
        font-size: 28px;
        font-family: var(--fontJ);
        font-weight: 800;
        text-transform: uppercase;
        padding: 2rem 2rem 1rem 2rem;
        color: var(--pointColor);
        transition: all 0.3s ease-in;

        svg {
            width: 30px;
            height: 30px;
            vertical-align: -6px;
            margin-right: 5px;
        }

        &:hover {
            color: #724A30;
        }
    }

    h2 {
        font-size: 10px;
        font-weight: 900;
        text-transform: uppercase;
        color: var(--black800);
        letter-spacing: 2px;
        padding: 2rem 2rem 1rem 2rem;
    }

    ul {
        li {
            font-family: var(--fontAs);
            font-size: 18px;
            padding: 16px 0;

            a {
                display: block;
                transition: all 0.2s ease-out;


                &:hover {
                    color: var(--pointColor);
                }
            }

            .icon {
                width: 20px;
                height: 20px;
                background-size: 20px;
                background-repeat: no-repeat;
                display: inline-block;
                margin-right: 14px;
                vertical-align: -4px;
                border-radius: 3px;
                margin-left: 20px;
            }

            &:nth-child(1) .icon {
                background-image: url(../icon/icon-melon.jpg);
            }

            &:nth-child(2) .icon {
                background-image: url(../icon/icon-bugs.jpg);
            }

            &:nth-child(3) .icon {
                background-image: url(../icon/icon-apple.jpg);
            }

            &:nth-child(4) .icon {
                background-image: url(../icon/icon-genie.jpg);
            }

            &:nth-child(5) .icon {
                background-image: url(../icon/icon-billboard.jpg);
            }

            .icon2 {
                margin-left: 20px;
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: 14px;

                svg {
                    vertical-align: -5px;
                    width: 100%;
                    height: 100%;
                }
            }

            &:nth-child(1) .icon2 {
                color: #24f840;
            }

            &:nth-child(2) .icon2 {
                color: #f00;
            }

            &:nth-child(3) .icon2 {
                color: #f75b36;
            }

        }
    }

}